# Dependencies
node_modules
npm-debug.log

# Next.js
.next
out
dist

# Testing
coverage
.nyc_output

# Environment
.env
.env*.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Git
.git
.gitignore

# Misc
README.md
.eslintrc.json
.prettierrc
